@font-face {
    font-family: Lato;
    src: url(../font/Lato-Regular.ttf);
}
body {
	background: url("../img/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	color: #666;
	font-family: Lato;
	font-size:16px;
	font-weight: 300;
}
.help_page {
	margin: 0;
}
.help_form {
	text-align:center;
	padding-bottom: 30px;
	max-width: 340px;
	margin: 0 auto;
	margin-top: 160px;
	border-radius: 5px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.4);
	background-color:white;
}
.help_form .help_header  {
	background-color: #950C0C;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
	line-height: 2.8em;
	color: white;
}
.help_form label {
	color: #888;
	line-height: 2.0em;
}
.help_form input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: .9em;
}
.help_form input:focus {
	outline: none;
	border-color: #950C0C;
	color: #950C0C;
}
.help_submit {
	color: white !important;
	outline: none;
	background-color: #950C0C;
	border: none !important;
}
.help_text {
	font-size:12px;
}
a {
	text-decoration: none;
	color: #666;
}
a:hover {
	color: #aeaeae;
}