<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
 
   <servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>Login</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Login</servlet-name>
      <url-pattern>/login</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>Logout</servlet-name>
      <servlet-class>Logout</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Logout</servlet-name>
      <url-pattern>/logout</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>DataAccountUser</servlet-name>
      <servlet-class>DataAccountUser</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>DataAccountUser</servlet-name>
      <url-pattern>/dataaccountuser</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>Main</servlet-name>
      <servlet-class>Main</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Main</servlet-name>
      <url-pattern>/main</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>Transfer</servlet-name>
      <servlet-class>Transfer</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Transfer</servlet-name>
      <url-pattern>/transfer</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>TransferDetail</servlet-name>
      <servlet-class>TransferDetail</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>TransferDetail</servlet-name>
      <url-pattern>/transferdetail</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>TransferDetailInsertDatabase</servlet-name>
      <servlet-class>TransferDetailInsertDatabase</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>TransferDetailInsertDatabase</servlet-name>
      <url-pattern>/transferdetailinsertdatabase</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>Loan</servlet-name>
      <servlet-class>Loan</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Loan</servlet-name>
      <url-pattern>/loan</url-pattern>
   </servlet-mapping>
	<servlet>
      <servlet-name>LoanDetail</servlet-name>
      <servlet-class>LoanDetail</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>LoanDetail</servlet-name>
      <url-pattern>/loandetail</url-pattern>
   </servlet-mapping>
   	<servlet>
      <servlet-name>LoanDetailInsertDatabase</servlet-name>
      <servlet-class>LoanDetailInsertDatabase</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>LoanDetailInsertDatabase</servlet-name>
      <url-pattern>/loandetailinsertdatabase</url-pattern>
   </servlet-mapping>
   <servlet>
      <servlet-name>CustomersDetail</servlet-name>
      <servlet-class>CustomersDetail</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>CustomersDetail</servlet-name>
      <url-pattern>/customersdetail</url-pattern>
   </servlet-mapping>
</web-app>